.home {
    background: url(../img/banners/banner2.jpg) no-repeat center center fixed;
    background-size: cover;

    .cover,
    footer {
        text-align: center;
        text-shadow: 0 2px 3px rgba(0,0,0,.9);
    }

    .cover {
        background-color: rgba(60, 60, 60, 0.7);
        border-radius: 10px;
        margin: 50px auto 0 auto;
        padding: 10px 20px 20px 20px;
        text-align: center;
        max-width: 1140px;
        width: auto;

        .cover-heading {
            color: #fff;
            font-family: $heading-font;
            font-size: 8vw;
            font-weight: normal;
            margin-bottom: 20px;

            @media (min-width: 500px) {
                font-size: 2.9em;
            }
        }

        .select-hike-form {
            margin: 10px;

            select {
                float: left;
                font-size: 1.1em;
                height: auto;
                width: 70vw;
            }

            .btn {
                font-weight: bold;
                font-size: 1.0em;
            }

            @media (min-width: 576px) {                
                select {
                    font-size: 1.3em;
                    width: 85%;
                }

                .btn {
                    font-size: 1.3em;
                }                
            }
        }
    }
}
