@use "colors";

body {
	/* system font based approach */
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

a {
	color: #0065d1;
}

.alignleft {
	clear: both;
	float: left;
	margin: 0 10px 10px 0;
}

.alignright {
	clear: both;
	float: right;
	margin: 0 0 10px 10px;
}

a .frame {
	border: 4px solid colors.$light-border-color;
	border-radius: 2px;
}

a:hover .frame {
	border: 4px solid colors.$highlight-color;
}

img.size-thumbnail {
	max-width: 125px;
}

img.size-medium {
	max-width: 300px;
}

footer {
	background-color: colors.$light-background-color;
	clear: both;
	font-size: 0.9em;
	margin-top: 40px;
	padding: 20px 0;
}
