<footer>
    <div class="container-xl">
        <p>
            All content &copy; <a href="/">Alaska Hike Search</a>, unless otherwise noted.
        </p>
        <p>
            <em>
                Warning: Traveling in Alaska's backcountry can be extremely dangerous and can lead to serious injury
                or death. This website is only intended as an aid and cannot guarantee safety. No trail guide can be
                completely accurate so hikers must accept and judge for themselves the dangers posed by each trip they
                choose to undertake. By using this site you accept the risk and sole responsibility for your safety
                and the safety of those you affect. I urge you to use all available resources to educate yourself on
                the particular trails you will be on as well as general wilderness safety and first aid.
            </em>
        </p>
    </div>
</footer>