<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-xl">
        <h1 class="navbar-brand"><a href="/">Alaska Hike Search</a></h1>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-light sub-nav">
    <div class="container-xl">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

        <div class="menu navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/hikes/search">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/education">Education</a></li>
                <li class="nav-item"><a class="nav-link" href="/parks">Parks</a></li>
                <li class="nav-item"><a class="nav-link" href="/recommended">Books + Gear</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
