---
title: About
permalink: "about/index.html"
layout: "layouts/page.njk"
---
<p>
    <em>
        This was the original content from the home page of the old site, back when Bill "Chugachman" ran it.
        I've retained it here as sort of a history of the site, why it was originally created, etc.
    </em>
</p>
<p>
    <a href="/img/about/walrus-lake.jpg">
        <img src="/img/about/walrus-lake-125x125.jpg" alt="Walrus Lake" class="alignright frame size-thumbnail" />
    </a>
    If you are a visitor coming to the Southcentral Alaska area or if you just moved here, my hope is that
    this site will be a useful reference in helping you decide which trails to hike, backpack, bike or even
    snowshoe and cross country ski. I have tried to cross reference the trails in many different and unusual
    ways so that even if you wind up here on a business trip in February with only an afternoon free, this
    site can be of some help.
</p>

<h2>Why I Created This Site</h2>
<p>
    <a href="/img/about/moose-and-calves.jpg">
        <img src="/img/about/moose-and-calves-125x125.jpg" alt="Moose and Calves" class="alignleft frame size-thumbnail" />
    </a>
    In 1999, I was thinking about moving up here and decided to come for a visit in September. I wanted the trip
    to be half research and half vacation and went about checking the guidebooks for a good 3 day backpack trip
    that would give me the most scenery in one bang. I decided on Kachemak State Park. To make a long story short,
    it was a bad decision(*). September is the rainy season there. Add 30 to 50 degree weather and it was a very
    bad mix. I was very uneducated about hypothermia because I had only backpacked in the East when the temps were
    extremely warm. In short, it was a disaster (although a very scenic disaster) and I wish I had known someone
    up here that I could have contacted for advice before I came up.
</p>
<p>
    After living here for 10 years, I'm much older and wiser. In retrospect, I would have been better off sticking
    with Chugach State Park for my backpacking trip and day hiking the Kenai Peninsula. So for my little piece of
    good karma, I offer this website to you as someone who lived here and who wants to help you get the most out
    of your Alaska experience. It is also my way of repaying the countless acts of kindness by Alaskans when I
    visited as well as when I first moved up here.
</p>
<p>
    <em>
        <small>
            * Which is not to say this is a bad hike. It's an incredible hike and I highly recommend it -
            just not in September. Go to <a href="/hikes/grewingk-valley/" title="Grewingk Valley">Grewingk Valley</a>
            for the whole ordeal.
        </small>
    </em>
</p>

<h2>What This Site Is</h2>
<p>
    <a href="/img/about/eagle-lake-camp.jpg">
        <img src="/img/about/eagle-lake-camp-125x125.jpg" alt="Eagle Lake Camp" class="alignright frame size-thumbnail" />
    </a>
    When I first started this site, it was going to have everything and be a complete resource in itself. I realized
    very soon that this goal and a fulltime job - not to mention actually spending time outside hiking -
    were not going to go together. Subsequently, I limited myself to making this a supplement to the already fine and
    useful trail guides that are already on the market
    (<a href="/education/#guide-books">go here for more info</a>).
</p>
<p>
    The real problem with most guidebooks, however, is that they try to be too objective. Subsequently, I have tried
    to be a little less formal in my reviews. I have also tried to include some info that the books don't provide.
    My action plan while writing about each hike was to write my first thoughts, edit, then use the books for verification
    so that the hikes in these pages weren't just a rehash of what's in the guides.
</p>
<p>
    Another small problem with guidebooks, due to the cost, is that the photos are only in black and white which makes
    choosing more difficult. Most of the trails in this site have at least 4 photos.
</p>
<p>
    <strong>So...</strong> basically you can use this site first and get some ideas of where you would like to hike or
    backpack, then use the guidebooks and other sources for more detailed information <strong>....or</strong> you've
    read about a trail somewhere else and would like a second opinion.
</p>
<p>
    Before you start actually hiking, please go to my <a href="/education/">Education</a>
    page as well as other sources so that you are prepared for the unique dangers and challenges that can arise when
    traveling in the Alaska backcountry (see below).
</p>

<h2>What This Site Isn't</h2>
<p>
    <a href="/img/about/exit-glacier.jpg">
        <img src="/img/about/exit-glacier-125x125.jpg" alt="Exit Glacier" class="alignleft frame size-thumbnail" />
    </a>
    <strong>
        I want to be real upfront about this: this should not be your only resource for information about hiking and
        backpacking in Alaska!
    </strong> Most of the hike pages on this site are only cursory examinations. They usually
    do not go into detail about every section of the trail. This site is only a jumping off point or a supplement to
    guidebooks and detailed topographic maps. <em>Please</em> read the disclaimer below and please read my
    <a href="/education/">Education</a> page as well as other wilderness safety publications.
</p>
