---
title: Browse Hikes
permalink: "hikes/index.html"
layout: "layouts/page.njk"
---

<p>
	Explore our extensive collection of hiking trails across Alaska. Whether you're seeking a challenging adventure 
	or a leisurely stroll, there's something here for every outdoor enthusiast. 
</p>

<div class="hike-cards">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
		{%- for hike in collections.hikes | sort(attribute='data.title') %}
			<div class="col">
				<div class="card">
					<div>
						<a href="/hikes/{{ hike.fileSlug }}"><img class="card-img-top" src="/img/hikes/{{ hike.data.bannerImage }}.jpg" /></a>
						<div class="badge badge-pill badge-light">{{ hike.data.difficultyRating }}</div>                    
					</div>
					<div class="card-body">
						<h5 class="card-title"><a href="/hikes/{{ hike.fileSlug }}">{{ hike.data.title }}</a></h5>
						<h6 class="card-subtitle text-muted">{{ hike.data.park }}</h6>
						
						<!-- TODO
						<p class="card-text">							
						</p>
						-->
					</div>
					<div class="card-footer">
						<div class="row hike-stats">
							<div class="col-md-6">
								<div class="hike-icon"><svg><use xlink:href="/img/hike-icons.svg#route"></use></svg></div>
								{%- if (hike.data.milesOneWay | int) == 0 %}
									Varies
								{%- else %}
									{{ hike.data.milesOneWay }} miles
								{%- endif %}
							</div>
							{%- if hike.data.elevationGain > 0 %}
								<div class="col-md-6 text-right">
									<div class="hike-icon"><svg><use xlink:href="/img/hike-icons.svg#mountain"></use></svg></div> {{ hike.data.elevationGain }} feet
								</div>
							{%- endif %}
						</div>
					</div>
				</div>
			</div>
		{%- endfor %}
	</div>
</div>
