---
title: Contact
permalink: "contact/index.html"
layout: "layouts/page.njk"
---
<ul>
	<li>Got an awesome new hike that you'd like to submit to the site?</li>
	<li>Want to submit an update to an existing hike?</li>
	<li>Do you know of a great resource you'd like to see featured on the <a href="/education/">education</a> page?</li>
	<li>Just want to talk trails and hiking?</li>
</ul>
<p>
	I'd love to hear from you! Shoot me an email at 
	<a href="mailto:alaskahikesearch@gmail.com">alaskahikesearch@gmail.com</a>.
</p>
