---
title: Education
permalink: "education/index.html"
layout: "layouts/page.njk"
---
<ul id="edu-menu">
	<li>
		<strong><a href="#wildlife">Wildlife</a></strong>
		<ul>
			<li><a href="#bears">Bears</a></li>
			<li><a href="#moose">Moose</a></li>
			<li><a href="#insects">Mosquitoes &amp; Insects</a></li>
		</ul>
	</li>
	<li>
		<strong><a href="#plant-life">Plant Life</a></strong>
		<ul>
			<li><a href="#devils-club">Devil's Club</a></li>
			<li><a href="#cow-parsnip">Cow Parsnip</a></li>
		</ul>
	</li>
	<li>
		<strong><a href="#weather">Weather</a></strong>
		<ul>
			<li><a href="#hypothermia">Hypothermia</a></li>
			<li><a href="#winter">Winter</a></li>
			<li><a href="#avalanche">Avalanche</a></li>
		</ul>
	</li>
	<li>
		<strong><a href="#terrain">Terrain</a></strong>
		<ul>
			<li><a href="#navigation">Navigation</a></li>
			<li><a href="#bushwhacking">Bushwhacking</a></li>
			<li><a href="#post-holing">Post Holing</a></li>
			<li><a href="#alaska-mile">The Alaska Mile</a></li>
			<li><a href="#fording-rivers">Fording Rivers</a></li>
			<li><a href="#scree">Scree</a></li>
			<li><a href="#glaciers">Glaciers</a></li>
			<li><a href="#mudflats">Mudflats</a></li>
			<li><a href="#military-land">Military Land</a></li>
		</ul>
	</li>
	<li>
		<strong><a href="#gear">Gear</a></strong>
		<ul>
			<li><a href="#recommended">Recommended Books &amp; Gear</a></li>
			<li><a href="#essentials">The Essentials</a></li>
			<li><a href="#water-filter">Water Filter</a></li>
			<li><a href="#faa-radio">FAA Radio</a></li>
			<li><a href="#personal-locator">Personal Locator Beacons</a></li>
			<li><a href="#gaiters">Gaiters</a></li>
			<li><a href="#maps">Maps</a></li>
			<li><a href="#buying-renting-gear">Buying &amp; Renting Gear</a></li>
		</ul>
	</li>
	<li>
		<strong><a href="#legal">Legalities, etc.</a></strong>
		<ul>
			<li><a href="#fishing">Fishing</a></li>
			<li><a href="#fires">Fires</a></li>
			<li><a href="#parking-fees">Parking Fees</a></li>
			<li><a href="#camping">Camping</a></li>
		</ul>
	</li>
	<li>
		<strong><a href="#other-tips">Other Tips</a></strong>
		<ul>
			<li><a href="#sunlight">Sunlight</a></li>
			<li><a href="#photography">Photography</a></li>
		</ul>
	</li>
</ul>

<p>This page contains topics of information that are important to know if one is to have a safe and enjoyable hiking trip in Alaska. Be aware that this page is only a jumping off point. Do not assume that this list is all inclusive. If you do not have confidence in any of the below topics, it is up to you to increase your knowledge. I have tried to help in this endeavor by giving you links to other websites with more information. Most of the Alaska hiking guides cover many of these topics as well. Some skills require as little as an awareness level, others some reading, while others may require a class or teacher.</p>
<p>Someone in your group should be able to calmly administer first aid if the situation warrants it. I have not included it below, as the topic is too vast and beyond what I can provide here. You may want to purchase any of the fine books out there on wilderness first aid to improve your skill level and determine which areas you or your party are weak in.</p>
<p>If you have never had a real wilderness experience before, Alaska is not the place to get your feet wet. Restrict your hikes to those near help and require less wilderness skills than what the remote backcountry would entail. Most people who hike and backpack regularly should do fine on most of the trails described in this site. Your knowledge of the topics below should help you decide what level is best for you. For the real remote areas of the backcountry, you may want to consider a guide if you do not have confidence in your skill. For the remote areas at least, I would not advise going alone.</p>
<p><strong>Make sure to tell someone your plans and when you expect to get back, even if you're "only" going for a day hike! And please remember the #1 rule of enjoying the outdoors: leave no trace!</strong></p>

<h2 id="wildlife">Wildlife</h2>
<p>I'm sure this is a big part of why you're up here. Even on the trails in Anchorage proper, you have a good chance of encountering the non-human residents of Alaska. For the most part, they are shy and would rather stay away from you than do harm. But you are on their turf and you must respect where they are at. You are honor bound up here not to bother the animals. It is extremely important that you keep your distance <em>especially</em> when they are with their young. It is even more important that you <em>do not feed the wildlife</em>, even accidentally (like leaving food out around your camp). If you do, you can create multiple problems for the people who live here. More than likely, once the animal has had a taste for human food, it will become a nuisance and then there is a good chance it will be killed.</p>
<p>Be aware that wildlife in Alaska is heavily regulated by State and Federal laws. Unless you are hunting, and you know the laws up here, harming wildlife can get you in serious trouble.</p>
<p>Do not take cast off antlers and horns out of the parks. The smaller creatures depend on their calcium as they breakdown and decay. In fact, please do not remove any objects from the land.</p>
<p>Your encounters with wildlife, more than likely, will be positive and memorable. Your chances of this happening will be greatly enhanced by being grounded in the above procedures. However, extra attention is called for in dealing with the two animals below.</p>

<h3 id="bears">Bears</h3>
<p>First off, relax: very few people have been killed or maimed by bears in Alaska. While there is a lot of conflicting advice on what to do if a black or brown (grizzly) bear attacks you, the voices are unanimous in stating that the best thing to do is avoid a bear encounter in the first place. Tracks in the mud and fresh scat are two obvious clues that bears are in the area.</p>
<p>Probably the worst thing you can do is take a bear by surprise. Luckily, most of the hiking in Alaska gives you a clear view of the terrain so you can spot a bear before you are close. If you cannot see a ways in front of you, usually when bushwhacking, make sure you are making noise. Start a conversation with your hiking buds, sing, clap your hands; anything to let the potential bear know you are coming. Bear bells have been getting a lot of bad press lately and research is showing that they are ineffective.</p>
<p><strong>Never run away from a bear! They will think you are prey and come after you. You cannot outrun a bear. While facing the animal, back away very slowly. Please see the links below on the rare chance a bear charges you.</strong></p>
<p>There are two very dangerous circumstances that you must be especially careful about. If you see a mother with cubs, or any bear with its' freshly killed prey, slowly and calmly get as far away as possible. A corollary to the latter; if you happen along the trail and see a half consumed carcass such as a moose or caribou, leave the scene immediately. In either of the three above cases, either turn back or hike a wide circle around the situation.</p>
<p>A bear has an incredible sense of smell. It is important that you keep <strong>ALL</strong> food and food smells away from your camp. You should also avoid packing pungent food such as canned salmon or tuna fish. Cook at least 200 feet away from your tent, preferably downwind. Use a bear proof canister or tie your food bag with all garbage, dinnerware, mugs, and toothpaste on a branch at least 10 feet from the ground (and of course, a good distance from your tent). Wash your face and hands, and brush your teeth, before you go to sleep. If you have got any food on your clothes, change out of them and tie them up with the food.</p>
<p>A bear is most agitated in the spring when it has awoken from its hibernation and is extremely hungry.</p>
<p>I personally carry pepper spray and make sure I am always aware of my surroundings. I do not carry a gun, but some people feel more comfortable doing so.</p>
<p>The following links are what I feel are the best presented and complete advice on what to do if a bear attacks or threatens to attack you. I urge you to look at both of them. Some of the advice will conflict and it is up to you to take the information and do with it what you will.</p>
<ul>
	<li>Alaska Department of Fish &amp; Game Wildlife Profiles: <a href="http://www.adfg.alaska.gov/index.cfm?adfg=blackbear.main" target="_blank">Black Bears</a> | <a href="http://www.adfg.alaska.gov/index.cfm?adfg=brownbear.main" target="_blank">Brown Bears</a></li>
	<li><a href="https://www.udap.com/mm5/Bear-Safety-Tips" target="_blank">Bear Safety Tips</a></li>
</ul>

<h3 id="moose">Moose</h3>
<p>These large animals can be seen everywhere from the streets of Anchorage to the remote backcountry. For the most part, moose are docile and tend to ignore people. They will usually move away from you. But a moose can get aggressive if it feels threatened, especially if it's a cow with her calf. Bull moose can be agitated in the early fall during the mating season due to rutting (the smashing of antlers with other bulls in competition for mates). Be on the safe side and always give them plenty of room.</p>
<p>If a moose's back hair is standing up, it usually means it's agitated. If it pulls its' ears back, there is a good chance it is getting ready to attack.</p>
<p>When driving on our highways, always be on the lookout for moose in the road. Due to their height, a vehicle has the tendency to knock their feet out from underneath them which can cause them to fly through your windshield.</p>
<ul>
	<li><a href="http://www.adfg.alaska.gov/index.cfm?adfg=livewith.aggressivemoose" target="_blank">What to do About Aggressive Moose</a></li>
</ul>

<h3 id="insects">Mosquitoes &amp; Insects</h3>
<p>I'm sure you've heard many the tall tale of Alaska's unofficial state bird - the mosquito. Other insects, such as no-seeums and black flies, can be quite irritating as well. The peak season is usually June and July. The problem is not so bad in most parts of the Kenai Peninsula and the City of Anchorage. You will also have little problem above treeline and in windy places. The Interior regions of Alaska seem to get the brunt of it. Avoid marshy areas during the peak season.</p>
<p>While these bugs are not dangerous in themselves, barring allergies, the mere annoyance to some people could cause them to lose concentration and make unwise decisions out on the trail. The two solutions are clothes and repellant. Try to expose as little skin as possible. Fortunately, with the cooler temps up here, this is not too much of a problem. For exposed areas of skin, anything containing DEET should help. You may also want to consider a head net.</p>
<p>You may also want to explore their articles on alternatives to DEET if you are worried about the potential health hazards associated with its use.</p>
<ul>
	<li><a href="https://www.backpacker.com/skills/how-to-avoid-mosquito-bites" target="_blank">How to Avoid Mosquito Bites</a></li>
</ul>

<h2 id="plant-life">Plant Life</h2>

<h3 id="devils-club">Devil's Club</h3>
<a href="/img/education/devils-club.jpg">
	<img src="/img/education/devils-club-300x225.jpg" class="frame size-medium" alt="Devil's Club" />
</a>
<p><em>Devil's club photo by <a href="http://www.nawwal.org/~mrgoff/" target="_blank">Matt Goff</a>.</em></p>
<p>If you're lucky to be up here in the summer, especially late August, you will be rewarded with an incredible canvas of wildflowers throughout the many different ecosystems. Even in the rocky areas above treeline, you will see an incredible spectrum of plant life.</p>
<p>Unfortunately, there are a few bad guys out there that you need to be aware of on the trail. The most common one is Devil's Club. It's easy to spot as it looks like a shrub with over-sized maple leaves. The problem with this shrub is the underside of the leaf which contains tiny prickles. These prickles can cause severe inflammation when contact with the skin occurs.</p>

<h3 id="cow-parsnip">Cow Parsnip</h3>
<a href="/img/education/cow-parsnip.jpg">
	<img src="/img/education/cow-parsnip-300x225.jpg" class="frame size-medium" alt="Cow Parsnip" />
</a>
<p><em>Cow parsnip photo from <a href="https://en.wikipedia.org/wiki/Cow_Parsnip" target="_blank">Wikipedia</a>.</em></p>
<p>Another common one to watch out for is cow parsnip. Touching this plant can cause severe blistering in the presence of sunlight. When burned in a fire, it produces a poisonous smoke. The plant looks like a woody stalk with a cone on top.</p>
<ul>
	<li><a href="https://www.adn.com/adventure/outdoors/2016/06/16/hikers-beware-cow-parsnip-can-inflict-pain-on-those-who-dont-take-precautions/" target="_blank">Hikers beware: Cow parsnip can inflict pain on those who don't take precautions</a></li>
</ul>

<h2 id="weather">Weather</h2>
<p>Welcome to one of the most erratic weather patterns on the planet. There is an old saying up here: "If you don't like the weather, wait five minutes". I've seen it rainy and miserable in the morning and beautifully sunny by noon. I've frozen in July and sweated in January. It can be 65 and sunny up at the summit of a mountain and rainy and miserable in the valley. In Anchorage, 10 blocks can mean the difference between 10 degrees. Even if you are out for a short jaunt, you need to prepare for anything.</p>
<p>One thing you should always be prepared for is rain. We get a lot of it up here. July and August are typically the rainy months. So to be safe, when the temps are over 32 degrees, carry a rain jacket (preferably with a hood) or an umbrella.</p>
<p>In June, July and August you can generally expect the day to be somewhere between 60-72 degrees and 55-65 at night. If you live in the Northeast, prepare as if it’s late September. If you are traveling in early or late season, be aware that once the sun goes down, the temperature drops dramatically. Spring and fall can run anywhere from 20 to 70 degrees. Winter has its periods of severe cold but the thermometer usually hovers around 20-25 degrees.</p>
<p>The trick to dressing up here is layers. Always have the ability to add and shed long sleeve shirts, fleece jackets, shells and rain gear. Having some kind of hat is a great accessory as a large percentage of heat is lost through the head. When backpacking in the summer, I keep a pair of light fleece gloves tucked away just to be careful.</p>

<h3 id="hypothermia">Hypothermia</h3>
<p>If you learn only one thing from this site, I hope it is how to prevent hypothermia and treat it if it occurs. While everyone worries about bears, they really should be worried about this. This is how the scenario usually goes up here and if you're a person who sweats easily, like me, the scenario happens quite often:</p>
<p>Imagine you are on a backpack trip. You're slowly ascending a mountain with a 40 lb. pack strapped to your back. It's a beautiful day, somewhere around 65, and you are starting to build up a sweat. You slowly keep going up, the summit getting closer and closer as you get wetter and wetter. When you reach the top, you slide off your pack in relief as a stiff wind picks up (which often happens at the tops of mountains). And when that wind hits your wet clothes, you quickly go from hot to freezing cold. There are many variations on this theme including getting soaked in the rain as well as dressing improperly in winter. Once you go into shivering mode, it takes a very long time to warm up.</p>
<p><strong>Do not wear cotton on the trail! Clothes made of cotton will not keep you warm when they become wet. Use synthetic layers including fleece.</strong></p>
<p>Take the time to put on and shed layers as the situation warrants. The less you sweat due to clothing, the better. When you're moving, strip down. As long as you're active, it's amazing how your body can stay warm with very little clothing. I have learned to keep my hat and fleece pullover handy so that when I get to the top of that mountain or when I stop, I immediately put them on before my body temperature drops. You can get amazing results just from a hat since most of your body heat leaves through your head (very similar to a chimney). Since everybody is different, you'll have to do a little trial and error with different layers to see what works for you.</p>
<ul>
	<li><a href="https://www.princeton.edu/~oa/safety/hypocold.shtml" target="_blank">Outdoor Action Guide to Hypothermia and Cold Weather Injuries</a></li>
</ul>

<h3 id="winter">Winter</h3>
<p>Winter around the Anchorage area is not as bad as you would think. If you find yourself up here during this time or if you are very early in the hiking season, there are still great opportunities to explore the backcountry. Be aware that while the winters are not too bad, they are long. You can expect snow on the ground right into May and even later as you increase in elevation.</p>
<p>Besides the obvious winter supplies (clothing, hat, gloves, etc), I also carry a hot thermos, hand and feet warmers, fire starter, and an emergency space blanket. This way if I'm stuck out there, I have what I need to stay warm until help arrives.</p>
<p>Even if you are just out for the day, pack a small flashlight. In December and January, it starts getting dark at 3 pm and if you lose track of time, you may need the extra help.</p>
<p>No matter how long you are out there, you should be knowledgeable enough about hypothermia (see above) and know how to build a snow shelter in case you are stuck.</p>
<p>Winter hiking is a subject in itself, especially if you plan on being out there overnight. Below is a great link exploring the world of winter backpacking:</p>
<p>A really good book on the subject is <a href="https://www.amazon.com/dp/1581574320?tag=akhikesearch-20" target="_blank"><em>The Winter Camping Handbook</em></a> by Stephen Gorman.</p>
<p>The best way to hike overnight up here in the winter is to buy a cheap plastic sled and carry your stuff on it.</p>
<p>For details about how I built mine, read: <a href="/education/how-to-build-a-sled-for-winter-hiking/">How to Build a Sled for Winter Hiking</a></p>
<ul>
	<li><a href="https://www.princeton.edu/~oa/winter/wintshel.shtml" target="_blank">Outdoor Action Guide to Snow Shelters</a></li>
	<li><a href="http://www.backpacking.net/winter.html" target="_blank">The Winter Backpacker</a></li>
</ul>

<h3 id="avalanche">Avalanches</h3>
<p>If you are hiking where there is still snow about (some places have snow all year), do not take this subject lightly. <strong>Avalanches have killed more people in this state than bears!</strong> The below link can give you a comprehensive overview of the subject. However, if you are going to be doing anything extreme in snow conditions (i.e., snowmobiling, mountaineering, heli-skiing), I sincerely urge you to explore the dangers of avalanches further.</p>
<ul>
	<li><a href="https://nsidc.org/cryosphere/snow/science/avalanches.html" target="_blank">NSIDC - Avalanche Awareness</a></li>
	<li><a href="http://dnr.alaska.gov/parks/safety/avalanch.htm" target="_blank">Be Safe Out There: Avalanches</a></li>
</ul>

<h2 id="terrain">Terrain</h2>
<p>The good news: it's easier than you think to travel in the Alaskan backcountry. You can thank the glaciers for that. One, most hikes are in glacial valleys which means gently sloping upwards instead of sharp increases in elevation. Two, it is very easy to get above treeline up here due to the colder weather which means more views and easier traveling and navigation. And three, again thanks to glaciers, rivers and streams have wide banks for easy hiking and navigation.</p>
<p>The bad news (sort of): Alaskan trails are generally kept as primitive as possible. Be prepared for very little guidance on the trail. That means no paint marks on trees and no guideposts at intersections. It does mean fallen trees and confusing dall sheep trails intersecting the hiking trail and sometimes the trail disappearing all together. And of course there is the usual having to trek through mud, huge puddles, and overgrown brush at certain points on the trail.</p>
<p>You can pretty much hike in any kind of terrain you want from dense moss covered spruce forests, to Mars-like rock and rubble above treeline, to dramatic flower covered glacial moraines, to washed out riverbeds. Enjoy all this wonderful scenery but remember these three things: watch where you're stepping, pay attention to where you've been, and pay attention to where you're going.</p>

<h3 id="navigation">Navigation</h3>
<p>You don't have to be a Green Beret to find your way around but a minimal education on using a compass and a topo map is critical. The more remote you go, the more critical it is. If you're going to a trail-less area, and you feel uncomfortable, you may want to pick a route that follows a stream or river or an obvious mountain pass. The best advice is to pay attention to passing landmarks and match them with what's on your topo map. Better to stop and orient yourself right away than to plug away hoping for the best.</p>
<p>Handheld GPS devices have come a long way in recent years, and there are many apps you can get on your phone. Even if you don't have cell service, the GPS on your phone still works.</p>
<p>Two apps that I recommend and use regularly myself are <a href="https://www.gaiagps.com/" target="_blank">Gaia GPS</a> and <a href="https://caltopo.com" target="_blank">CalTopo</a>. Both allow you to load up your planned route ahead of time, and then make it easy to follow (or at least do sanity-checks) while out on the trail or backcountry.</p>
<p>Be aware that while following a main creek or river it is a good idea to keep from getting lost, tributaries coming from the mountains should not be gauged against topo map info. Since that map was made there's a good chance some have dried up and new ones were created. In addition, spring may temporarily double the number of water flows.</p>
<ul>
	<li><a href="http://www.llbean.com/outdoorsOnline/outdoorSports/hiking/tips/lost.html" target="_blank">What Should I Do if I Get Lost in the Wilderness?</a></li>
</ul>

<h3 id="bushwhacking">Bushwhacking</h3>
<p>Being off trail and wading through shrubs and tall plants is not my idea of fun. I usually go out of my way to avoid it. Besides the general irritation of it, it makes me nervous not to see the ground I'm walking on and the fear that I may fall in a hole and injure myself. But if the reward is worth it, I'll plod on through. The low shrub is not too bad but if it's willow or dense windblown spruce, prepare for a rough time. Luckily, it's easy to get above treeline and sometimes you can avoid the hassle if you can walk along the ridge.</p>
<ul>
	<li><a href="https://www.backpacker.com/trips/tundra-trekking-tips" target="_blank">Tundra Trekking Tips</a></li>
</ul>

<h3 id="post-holing">Post Holing</h3>
<p>Post holing is when you are walking along the top of snow and one or both of your legs sinks in deep without warning. It's a frightening experience and one thing sure to slow you down. If this is a potential where you're hiking, it can be worth the extra weight to bring snowshoes. Depending on the trail, I usually pack them right into mid-June (a very surreal experience to be in snowshoes and shorts). It can be a nuisance if you are going between snow and ground during breakup but better a nuisance than a broken leg. I also started bringing a walking stick (or trekking poles if you prefer) which comes in real handy when you need some leverage to get your leg out of the hole.</p>
<p>If you are hiking early in the season, when the temps are still pretty chilly in the morning, that's when you should hike as the top layer is usually frozen and more secure. In the summer, any snow you travel over should be packed down enough to cause you little trouble.</p>
<ul>
	<li><a href="https://www.backpacker.com/gear/snow-smarts" target="_blank">Snow Smarts: How to Travel Safely Across Four Seasons of White</a></li>
</ul>

<h3 id="alaska-mile">The Alaska Mile</h3>
<p>The "Alaska Mile" is a term used to describe the phenomenon that the perceived distance is often shorter than reality. This is often due to the deceiving mental perception of the contours of a glacial valley. Glacial valleys are often at a very gentle incline, with a number of small ridges. What this means is that you feel like you're walking flat when you are really going up. Also, since you usually see only the immediate ridge in front of you and the top of the valley, you feel like the distance should be shorter. Except, then you get to the top of that ridge and you see the next one.</p>
<p>In winter, the snow and ice reflect the sunlight differently than brush and rock in summer. This reflection gives the illusion that things are closer than they really are. The depth of the snow and ice also effects your perception of distance, as deeper snow makes things look bigger (thus closer) at further distances than more shallow snow.</p>

<h3 id="fording-rivers">Fording Rivers</h3>
<p>On many trails in Alaska, you better be prepared to get your feet wet, as there are often stream crossing that may or may not have a bridge. Just about every one of those streams, creeks and rivers have the melting glaciers as their source which means cold, cold, cold. If you're going to Denali or the Wrangell's, you may have to deal with going in above your waist. Sometimes on the way to your destination, the stream was just a trickle, the next day it's a raging torrent. Many glacial rivers are shallow in the morning and deep in the afternoon due to the glacier melting during warmer daylight hours.</p>
<p>Needless to say, if you have to cross, you need to do it quickly and safely. The best thing to do is take the time and find the best place to cross. It's better to find a spot where the stream or river breaks into may slower sections (known as braided). If you're with a group, cross together and link arms for added stability.</p>
<p><strong>Before crossing, unbuckle all straps and belts on your pack no matter the current or depth.</strong> If you don't and you fall in, a pack can fill with water very quickly, adding significant weight and making it harder for you get to the surface as well as restricting your maneuverability. Mentally prepared to shed your pack quickly if necessary.</p>
<p>Protect your camera and other valuables before you cross. It's usually the ones I thought would be trouble free that I've gotten soaked. I always carry a few extra Ziploc bags to keep things dry.</p>
<p>One of the best articles I've ever read on the subject was in the book <a href="https://www.amazon.com/dp/0963235931?tag=akhikesearch-20" target="_blank"><em>Beyond Backpacking</em></a> by Ray Jardine. <em>This is a great book in general. I am slowly working toward "lightweight backpacking" and this is the bible on the subject.</em></p>
<ul>
	<li><a href="http://dnr.alaska.gov/parks/safety/rivercross.htm" target="_blank">Be Safe Out There: River Crossings</a></li>
</ul>

<h3 id="scree">Scree</h3>
<p>One thing you may encounter while hiking the mountains and glacial valleys of Alaska is having to climb up or down scree and talus. Scree is the smaller rocks and talus are the boulders and larger rocks. It's not as scary as it looks but you do need to be careful. If possible, try to stay on the side of it for quicker traveling. Never take the next step until you are sure the resting foot is secure.</p>

<h3 id="glaciers">Glaciers</h3>
<p>Glacier travel is only for the experienced. Even for them, it is a dangerous situation. You should never walk out on a glacier. The danger lies in its deep crevasses that are sometimes hidden by snow. There are many people who thought they were on solid ice who found themselves severely injured at the bottom of a crevasse. The people in your party may not be able to extricate you, especially without rope and special equipment. Be very careful at the front, or terminus, of a glacier. Although rare, huge chunks of ice have been known to break off (known as calving) and crush people.</p>
<p>There are 3 glaciers that I know of where you can walk on top near the terminus with minimal risk: Exit Glacier, Matanuska Glacier, and Worthington Glacier.</p>
<p>A great book for the layperson, but hard to find is <a href="https://www.amazon.com/dp/1555910750?tag=akhikesearch-20" target="_blank"><em>Glaciers of North America: a Field Guide</em></a> by Sue Ferguson. The book also covers the rudiments of glacial travel.</p>
<ul>
	<li><a href="https://nsidc.org/cryosphere/glaciers" target="_blank">All About Glaciers</a></li>
</ul>

<h3 id="mudflats">Mudflats</h3>
<p><strong>Never walk on the mudflats on the banks of the Cook Inlet and Turnagain Arm.</strong> What looks secure is in reality very finely ground silt (the effluent of glacial grinding). The stuff is like quicksand and it is almost impossible to get your feet out of it. With one of the fastest tides in the world, your chances of drowning are very real.</p>
<ul>
	<li><a href="https://alaskawildguides.com/what-you-should-know-about-dangerous-mudflats-in-alaska/" target="_blank">What You Should Know About Dangerous Mudflats in Alaska</a></li>
	<li><a href="https://www.adn.com/alaska-life/2020/07/13/the-true-history-of-cook-inlets-deadly-mudflats/" target="_blank">The true history of Cook Inlet’s deadly mudflats</a></li>
</ul>

<h3 id="military-land">Military Land</h3>
<p>Bordering Chugach State Park is military recreational land shared by Fort Richardson and Elmendorf Air Force Base (now known jointly as JBER). You must obtain a permit (including everyone in your party) before entering this area or you will be heavily fined. In addition to the permit, you must check in using the website below, and first check that the specific area you're planning to hike in isn't closed for military exercises. You are also expected to check out to let them know you have left the area.</p>
<p>Obtaining the permit is very easy. Go the website below and signup, it takes 2 minutes. There are also maps showing the recreation areas, off limits areas, and instructions on how to check in/out.</p>
<ul>
	<li><a href="https://jber.recaccess.com/" target="_blank">JBER RecAccess</a></li>
</ul>
<p><strong>Trails in the Military Recreation Area:</strong></p>
<ul>
	<li><a href="/hikes/campbell-creek-canyon-trail/">Campbell Creek Canyon Trail</a></li>
	<li><a href="/hikes/the-dome/">The Dome</a></li>
	<li><a href="/hikes/knoya-peak/">Knoya Peak</a></li>
	<li><a href="/hikes/tanaina-lake/">Tanaina Lake</a></li>
	<li><a href="/hikes/temptation-peak/">Temptation Peak</a></li>
	<li><a href="/hikes/tkishla-peak/">T'Kishla Peak</a></li>
	<li><a href="/hikes/ship-creek-trail/">Ship Creek Trail</a></li>
	<li><a href="/hikes/ship-creek-hill/">Ship Creek Hill</a></li>
	<li><a href="/hikes/williwaw-lakes/">Williwaw Lakes</a> (only in the pass into Long Lake)</li>
</ul>
<p>In addition, be careful in Arctic Valley on the <a href="/hikes/mt-gordon-lyons/">Mt. Gordon Lyons</a> and <a href="/hikes/rendezvous-peak/">Rendezvous Peak</a> trails not to wander into restricted military land (near the Cold War installation).</p>

<h2 id="gear">Gear</h2>
<p>Hiking in Alaska is no more physically exerting than any other mountainous area in the U.S. However, compared to the lower 48, you are more likely to be far from help with the likelihood that no one will be passing by. Add to that a completely erratic weather system, and the potential for a fatal mishap increases sharply. Subsequently, you need to pack a little more than you usually would in other places, even if "only" day hiking.</p>
<p>FYI on two things:</p>
<ol>
	<li>Many airlines will not insure a backpack against damage; at the least, make sure all the straps and belts are secured to the pack. Consider putting the pack in a large duffle bag.</li>
	<li>You cannot bring fuel for your camp stove on a plane. Pick up what you need when you get into town.</li>
</ol>

<h3 id="recommended">Recommended Books &amp; Gear</h3>
<p>
	I have compiled a list of <a href="/recommended">recommended books and gear here</a>. While I earn a small 
	commission for any purchases made through this page with the Amazon Affiliate program, <em>I only list items 
	that I have personally used and can recommend</em>.
</p>

<h3 id="essentials">The Essentials</h3>
<p>Everyone has an opinion on this. I've surfed a few backpacking websites and while the lists don't match exactly, the core items are the same. To these sites, I add my list below:</p>
<ul>
	<li>Map</li>
	<li>Compass</li>
	<li>Flashlight - This is only important in winter when we have very little sunlight due to being so far north. If you lose track of time, it can really come in handy. In the summer, you can read a book at midnight and not need one.</li>
	<li>Extra Food</li>
	<li>Extra Clothes - Between rain, fording rivers, and muddy trails, hypothermia is a real concern up here. Even in July, make sure you have enough clothes that you could be warm if the temperature was below freezing. Always keep rain gear in a quickly accessible place.</li>
	<li>Sunglasses - This may not seem like an essential but remember you are at a higher elevation and the sun is shining at an extreme angle. With snow, the reflection is blinding.</li>
	<li>First Aid Kit - More important than an American Express card, don't leave civilization without it. I also carry a portable first aid book for quick reference.</li>
	<li>Pocket Knife</li>
	<li>Waterproof Matches</li>
	<li>Fire Starter</li>
	<li>Whistle</li>
	<li>Mirror - The above two are great for signaling if you get lost. Many outdoor stores sell light plastic pocket mirrors.</li>
	<li>Insect Repellant - Do not take this lightly. A swarm of mosquitoes up here can really drive you nuts.</li>
	<li>Sunscreen - Very important if you plan on being above treeline. Once on the tundra, there are few places to get out of the sun. Also consider that in the summer it's going to be shining on you for 19 hours.</li>
</ul>

<h3 id="water-filter">Water Filter</h3>
<p>Even up here it's better to be safe than sorry. While I personally tend not to worry in winter or with fast moving mountain creeks, we do have a lot of beaver dens around here. I use the PUR® Hiker water filter but whatever you chose, bring it along. Some of the places you'll be hiking have silty water from the glacial grinding. If your filter clogs easily, you may want to get another one before you come up.</p>
<p>Finding water is generally not a problem up here. Sometimes the problem is that there's too much of it. Check your map - you may have to pack a filter, but at least you can usually get away with only having to carry a liter of water and filling up along the way. The individual hike pages on this site mention when water sources are scarce.</p>

<h3 id="faa-radio">FAA Radio</h3>
<p>Be aware that there are many places in the backcountry where your cell phone will not work. There are even sections along major highways up here without coverage. A great option for really remote places is an FAA radio. This piece of equipment is very similar to a C.B. radio and is usually used by bush pilots. If you get into trouble, you can talk to pilots flying overhead who will then arrange help for you. Many aviation stores (most located at Merrill Airfield in Anchorage) will rent you one. Be aware that they do have some weight to them but the piece of mind may be worth the extra schlep.</p>

<h3 id="personal-locator">Personal Locator Beacons</h3>
<p>Personal locator beacons such as the <a href="https://www.amazon.com/dp/B00C8S8S4W?tag=akhikesearch-20" target="_blank">SPOT</a> and <a href="https://www.amazon.com/dp/B07CR7PL54?tag=akhikesearch-20" target="_blank">inReach</a> have become increasingly popular and more affordable. At the touch of a button, they will send an emergency signal that will summon help in case of emergency. However, depending on how remote of an area you are in, you could still be waiting several hours for help to arrive. Many of these devices will also post your location to a private web page that you can share with family or friends, so they can track your location and progress. Some of the more sophisticated devices, like the inReach, also allow 2-way text messaging. Be aware that the use of these devices also often requires an annual subscription to their service.</p>

<h3 id="gaiters">Gaiters</h3>
<p>Alaska has more wetlands than the entire lower 48 combined. Add rain and bushwhacking, and a pair of gaiters up here keeps looking better and better.</p>

<h3 id="maps">Maps</h3>
<p>For government quad topo maps, most major metropolitan areas have stores and government offices that supply them. Many outdoor recreation stores in Anchorage sell them as well.</p>
<p>Again I will mention the use of a handheld GPS device or smartphone. <a href="https://www.gaiagps.com/" target="_blank">Gaia GPS</a> and <a href="https://caltopo.com" target="_blank">CalTopo</a> are my personal favorites. That being said, an "old school" paper map is always smart to have as a backup - you don't have to worry about the batteries dying on that! Both Gaia and CalTopo allow you to generate a printable PDF of your planned route.</p>

<h3 id="buying-renting-gear">Buying &amp; Renting Gear</h3>
<p>Unless you're looking for something specific and/or high tech, save your money on butane, dehydrated meals, etc. by shopping at the major department stores. Up here, they all carry the basics for camping and backpacking at a significant savings.</p>
<p>For the specifics, and for the gear you don't want to risk going cheap on, there are quite a few recreational gear stores around the city, especially midtown.</p>
<p>
	<strong>Renting:</strong><br />
	If you want to avoid the hassle of schlepping your stuff up here, you can rent almost anything you need in Anchorage. The few things I've rented up here have run the gamut from a fine piece of equipment to a genuine piece of crap. If you are going this route, find out what brands, etc. they rent out before making your decision.
</p>
<p>
	<strong>Buying:</strong><br />
	Things often cost more up here due to shipping. You are much better off getting the big ticket items at home before you get up here.
</p>

<h2 id="legal">Legalities, Etc.</h2>
<p>It is important to be fully aware that wildlife and parkland is strictly regulated up here. The different rules and regulations that change from area to area can be quite confusing sometimes. And be forewarned that breaking the wildlife laws will result in much more than a slap on the wrist. There is even a chance that your vehicle will be confiscated. Limits and sizes are set by careful biological study on an ongoing basis and are subject to change at a day's notice.</p>
<ul>
	<li><a href="http://www.adfg.alaska.gov/index.cfm?adfg=hunting.main" target="_blank">Alaska Department of Fish &amp; Game - Hunting, Trapping &amp; Shooting</a></li>
</ul>

<h3 id="fishing">Fishing</h3>
<p>If you have the money, you definitely want to block off a day to go charter fishing. It's quite an experience to haul in a salmon or a halibut. When my parents came to visit, we took a boat out of Homer. It was a spectacular day and not only did we catch a lot of fish, we also saw whales, otters and puffins along the way.</p>
<p>If you go with a guide, they will make sure your catch and limit are within the law. However, most of them will not provide the license, you'll need to get that before you go.</p>
<p>Only Alaskan residents can dipnet fish and only within a set time period. Fishing by this method involves wading in the water and using a huge net to bring in the salmon.</p>
<ul>
	<li><a href="http://www.adfg.alaska.gov/index.cfm?adfg=fishingSport.main" target="_blank">Alaska Department of Fish &amp; Game - Sport Fishing</a></li>
</ul>

<h3 id="fires">Fires</h3>
<p>Do I really need to tell you about forest fires and the need to be careful? If you're coming in the summer and go above treeline, the point is moot as there is no wood up there anyway. Most of the parks would rather you didn't use a fire as it scars the land. Make sure you pack a camp stove. If there is a metal firepit or if a campfire is allowed (usually on beaches and gravel banks), use only dead wood and keep the fire manageable.</p>
<p>Much of the state has been hit hard by an infestation of spruce bark beetle. This has resulted in huge swathes of standing dead and dried spruce trees. In recent summers we have experienced large forest fires burning hundreds of thousands of acres. Do you want to go down in history as the person who started one of these? Please, be careful!</p>

<h3 id="parking-fees">Parking Fees</h3>
<p>There are a few trailheads that require a fee for parking, usually the ones with outhouses (the cost covers their maintenance). The cost is usually $5 per day. Most times, there is no one to take your money or make change so you would be wise to always have a few $5 bills handy as well as a pen in your vehicle to fill out the form.</p>
<p>If you know you'll be using the State Park's fee lots numerous times in a year, then it would be wise to purchase a yearly pass. The cost for the pass is $60, and they can now be purchased online from the <a href="https://dnr.alaska.gov/parks/Passes.cfm" target="_blank">Alaska Division of Parks and Outdoor Recreation</a>. That page also lists a number of locations around the state where you can go to purchase a pass in-person.</p>
<p>On the individual hike pages, I let you know if the trailhead requires a parking fee. I may have missed one or two so bring some $'s just in case.</p>

<h3 id="camping">Camping</h3>
<p>Alaska has many state public campgrounds that are right off the main highways. They are usually your basic site with a picnic table and a fire pit. The campground will have a water source and outhouses. Most sites cost around $10 a night but some are higher. Bring exact change as they are usually not staffed. After Labor Day and before Memorial Day, the sites are usually free but there are no services available. State campgrounds are on a first come, first serve basis. Please go to the below website for more information:</p>
<ul>
	<li><a href="http://dnr.alaska.gov/parks/" target="_blank">Alaska Division of Parks and Outdoor Recreation</a></li>
</ul>
<p>The federal campsites usually have electrical hookups for RV'ers. They usually cost $15 a night and you are allowed to make reservations. Please go to <a href="http://www.recreation.gov/" target="_blank">Recreation.gov</a> for more info. This site can also help you if you want to rent a federal cabin.</p>
<p>Most of the time you will not be hassled if you find a nice spot off the road and want to spend the night. However, make sure you are not on private property and there are no signs indicating you can't camp there.</p>

<h2 id="other-tips">Other Tips</h2>
<p>In no particular order, and to be added to in the future by myself, and hopefully others, here is a list of little things I have found to make the going easier:</p>
<ul>
	<li>When traveling around by vehicle, keep a small cooler with drinks, food and munchies. Stores and places to get food are limited once you get out of Anchorage and are often quite expensive.</li>
	<li>More than likely, you will get your boots wet along the trail. Bring a cheap pair of sandals and thermal socks for lounging around camp.</li>
	<li>Most of Alaska's soil is extremely rocky with a small layer of topsoil. Subsequently, staking a tent can be a real hassle. Carry extra rope in case you have to improvise with large rocks. The best way to do this is tie a small rock to the rope with a larger rock resting on the rope between the smaller rock and the tent stake loop.</li>
</ul>

<h3 id="sunlight">Sunlight</h3>
<p>At its height on June 21, the Anchorage area gets around 20 hours of sunlight with a dusk like twilight the other 4. It's pretty cool and the best part about it is that you don't have to rush anywhere; you have all day to get to where you're going. Take your time in the morning heading out. When you set up camp, you will have a lot of downtime. I've discovered that a good plan is to hike in late morning/early afternoon to camp. Then after a good rest and dinner, I like to take a nice "day" hike around the area with my camera. Make sure you bring a good book or some other reading material in case you have a hard time falling asleep.</p>
<p>In the winter, it's not as bad as you think. The sun's rays are at an angle so it doesn't get too dark that early. Snow on the ground reflects light so visibility is not that bad. Better to be safe, though, and carry a small flashlight with you.</p>

<h3 id="photography">Photography</h3>
<p>I love to take photos when I'm out backpacking. Sometimes it's bit of a challenge when we have grey days. Also, great nature photos happen at dusk - in the summer, that happens at 1am.</p>
