---
permalink: /index.html
---
{% extends "layouts/home.njk" %}

{% block header %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
{% endblock %}

{% block content %}
    <div class="cover">
        <h2 class="cover-heading">Find Your Next Adventure</h2>
        <form class="select-hike-form" action="/select-hike.html" method="get">
            <select name="hike" id="hike" class="form-control">
                <option>Select a hike...</option>
                
                {%- for hike in collections.hikes | sort(attribute='data.title') %}
                    <option value="{{ hike.fileSlug }}">{{ hike.data.title }}</option>
                {%- endfor %}
            </select>
            <button type="submit" class="btn btn-success">Go!</button>
        </form>

        <div id="map" class="map-home"></div>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="/js/maps.min.js?v={{ buildTimestamp }}"></script>
    <script type="text/javascript">
        map_home();
    </script>
{% endblock %}
