---
title: Alaska Parks and Recreation Areas
permalink: "parks/index.html"
layout: "layouts/page.njk"
---
<p>
	The purpose of this page is to give you a feel for the parks and other recreation areas that you may be
	hiking or backpacking in during your trip to Alaska. Please visit the park's official website I have
	provided below for more detailed information.
</p>
<p>
	Please remember that I have only listed parks and/or trails that I have hiked myself or someone has
	submitted to the site. This list should not be considered conclusive nor should you assume that hikes
	not mentioned are not worth your time.
</p>

{%- for park in collections.parksSorted %}
	<div class="park">
		<h2 id="{{ park.data.title | slugify }}">{{ park.data.title }}</h2>
		{{ park.templateContent | safe }}

		<h3>Hikes Listed on this Site:</h3>
		<ul>
			{%- for hike in collections[park.data.title | slugify] %}
				<li><a href="/hikes/{{ hike.fileSlug }}">{{ hike.data.title }}</a></li>
			{%- endfor %}
		</ul>
	</div>
{%- endfor %}
