---
title: Recommended Books & Gear
permalink: "recommended/index.html"
layout: "layouts/page.njk"
---
<p>
	This page contains a list of recommended books and gear. While I earn a small commission for any
	purchases made through this page with the Amazon Affiliate program, <em>I only list items here that I
	have personally used and can recommend</em>.
</p>

<h2>Books</h2>

<div class="row">
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/0898867916?tag=akhikesearch-20">
			<img src="/img/books/55-ways-wilderness.jpg" alt="55 Ways to the Wilderness in Southcentral Alaska" />
			<h3>55 Ways to the Wilderness in Southcentral Alaska</h3>
		</a>
		<p>
			<cite>By Helen Nienhueser &amp; John Wolfe Jr.</cite>
		</p>
		<p>
			I like this one a lot because it has the feel of real hikers doing their thing. The authors' love
			of this region shows through on every page. This is probably the book most used by residents of Alaska.
		</p>
	</div>
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/1493025597?tag=akhikesearch-20" target="_blank">
			<img src="/img/books/hiking-alaska-falcon-guide.jpg" alt="Hiking Alaska: A Falcon Guide" />
			<h3>Hiking Alaska: A Falcon Guide</h3>
		</a>
		<p>
			<cite>By Mollie Foster</cite>
		</p>
		<p>
			This is my favorite as it is the most inclusive. For the shear number of hikes, including their associated
			elevation grids, it can't be beat. There is a chart in front that is very handy for helping you to narrow
			your choices.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/0762751029?tag=akhikesearch-20" target="_blank">
			<img src="/img/books/best-easy-day-hikes-anchorage.jpg" alt="Best Easy Day Hikes Anchorage" />
			<h3>Best Easy Day Hikes Anchorage</h3>
		</a>
		<p>
			<cite>By John Tyson</cite>
		</p>
		<p>
			Like the title says, this book is a great listing of easy day hikes in the Anchorage area. It covers all the
			popular hikes you would expect, and includes a detailed map for each.
		</p>
	</div>
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/0963730908?tag=akhikesearch-20" target="_blank">
			<img src="/img/books/naturalist-guide-chugach-state-park.jpg" alt="Naturalist's Guide to Chugach State Park" />
			<h3>Naturalist's Guide to Chugach State Park</h3>
		</a>
		<p>
			<cite>By Jenny Zimmerman</cite>
		</p>
		<p>
			I consider this book a classic. A very well written nature guide for Chugach State Park.
		</p>
	</div>
</div>

<h2>Gear</h2>

<div class="row">
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/B00RXX8RCA?tag=akhikesearch-20" target="_blank">
			<img src="/img/gear/kahtoola-microspike.jpg" alt="Kahtoola Microspikes" />
			<h3>Kahtoola Microspikes</h3>
		</a>
		<p>
			These are indespensible for hiking in the winter, and grip well on almost any surface.
		</p>
	</div>
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/B01M0MZ7NI?tag=akhikesearch-20" target="_blank">
			<img src="/img/gear/katadyn-befree.jpg" alt="Katadyn BeFree Water Filter" />
			<h3>Katadyn BeFree Water Filter</h3>
		</a>
		<p>
			This water bottle has a built in filter, making it super fast and convenient
			to get clean, safe drinking water from just about any source.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/B079RJRRYH?tag=akhikesearch-20" target="_blank">
			<img src="/img/gear/altra-lone-peak.jpg" alt="Altra Lone Peak RSM" />
			<h3>Altra Lone Peak RSM (Rain/Snow/Mud)</h3>
		</a>
		<p>
			Altra makes some of the most comfortable shoes I've ever worn. While not fully waterproof,
			they are highly water resistent, and drain well if you do get the insides wet. There's also a
			<a href="https://www.amazon.com/dp/B079RM3JNK?tag=akhikesearch-20" target="_blank">high-top model</a>
			available, if you prefer more ankle support.
		</p>
	</div>
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/B00AK8DPD6?tag=akhikesearch-20" target="_blank">
			<img src="/img/gear/injinji-socks.jpg" alt="Injinji Socks" />
			<h3>Injinji Socks</h3>
		</a>
		<p>
			Yes, the toe sock thing is a little weird. But once you get used to it, these are some of the most
			comfortable socks I've ever worn, and rarely have any problems with my feet, blisters, etc.
		</p>
	</div>	
</div>
<div class="row">
	<div class="col-sm-6">
		<a href="https://www.amazon.com/dp/B01IGE6YBA?tag=akhikesearch-20" target="_blank">
			<img src="/img/gear/ultimate-direction-fastpack-35.jpg" alt="Ultimate Direction Fastpack 35" />
			<h3>Ultimate Direction Fastpack 35</h3>
		</a>
		<p>
			This is a great mid-size pack for full day outings, or even overnight if you like to travel light.
			I really like the pockets up front for quick access to things like bear spray, snacks, map, etc.
		</p>
	</div>
</div>
